<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="/">
        <img src="/escudoblanco.avif" alt="Escuedo Blanco de del estado de Chiapas" />
      </a>
    </div>
    <div class="footer-links">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li><a href="/login">Iniciar Sesión</a></li>
        <li><a href="/jobFairs">Eventos Disponibles</a></li>
        <li><a href="/AttedendanceBadge">Gafete de Asistencia</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h4>Síguenos</h4>
      <ul>
        <li><a href="#"><i class="ri-facebook-line"></i></a></li>
        <li><a href="#"><i class="ri-twitter-x-fill"></i></a></li>
        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
      </ul>
    </div>
    <div class="footer-botton">
      <p>&copy; Todos los derechos reservados. Tu sitio web</p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--verde-700);
    color: var(--blanco-50);
    /* paddsing: 1rem 0.5rem; */
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: start;
  }

  .footer-links ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
  }

  .footer-links a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-links a:hover,
  .footer-social a:hover {
    color: #ccc;
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 768px) {
    .footer {
      height: 100vh;
    }
  }
</style>
